.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.pointer {
  cursor: pointer;
}

.pt-5rem {
  padding-top: 4rem;
}

.card-make {
  height: 16rem;
  border-radius: 0.3rem;
}

.gap-1r {
  gap: 1rem
}

.icon-color {
  color: #F85C70;
}

.icon-color:hover {
  color: crimson;
}

.icon-color-2 {
  color: white;
}

.icon-color-2:hover {
  color: #F85C70;
}

.h-50r {
  height: 32rem;
}

@media screen and (min-width: 769px) {
  .para-style {
    padding-left: 5rem;
    padding-right: 5rem;
    letter-spacing: 1px;
    color: black;
    line-height: 1.9rem;
  }
}

@media screen and (max-width: 768px) {
  .para-style {
    padding-left: 2rem;
    padding-right: 2rem;
    letter-spacing: 1px;
    color: black;
    line-height: 1.9rem;
  }
}

.para-style-2 {
  padding-left: 3rem;
  padding-right: 3rem;
  letter-spacing: 1px;
  color: black;
}

.para-style-3 {
  letter-spacing: 1px;
  color: black;
}

.portfolio-item {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.portfolio-item img {
  cursor: pointer;
}